* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif !important;
}

body p {
  color: hsl(201, 11%, 66%) !important;
  font-size: 18px;
}

body h2,
h3,
h4,
a {
  color: hsl(210, 10%, 33%) !important;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.header {
  background-image: url("./images/bg-header-desktop.png");
}

.dw-btn1:hover {
  background-color: hsl(171, 66%, 44%) !important;
}

.dw-btn2:hover {
  background-color: hsl(233, 100%, 69%) !important;
}

.dw-btn1 {
  background-color: hsl(172, 79%, 33%) !important;
}

.dw-btn2 {
  background-color: hsl(233, 84%, 54%) !important;
}

.fb-logo:hover {
  filter: invert(31%) sepia(56%) saturate(2118%) hue-rotate(206deg)
    brightness(108%) contrast(93%);
}

.tw-logo:hover {
  filter: invert(55%) sepia(58%) saturate(3250%) hue-rotate(176deg)
    brightness(98%) contrast(93%);
}

.ig-logo:hover {
  filter: invert(27%) sepia(52%) saturate(5913%) hue-rotate(318deg)
    brightness(92%) contrast(87%);
}

@media (min-width: 320px) {
  .company-logos .row .col-lg {
    margin-top: 50px;
  }
  .dw-btn2,
  .dw-btn1 {
    margin-top: 20px;
  }
  .features,
  .footer {
    text-align: center;
  }
  .footer .row {
    margin: 20px;
  }
}
